<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zd.back.seoulcrawler.mapper.CrawlerMapper">

    <insert id="insertSeoulNews" parameterType="com.zd.back.seoulcrawler.model.SeoulNews">
        insert into seoulNews (seoulId, title, link, content, publishedDate, seoulNewsGroup) values (#{seoulId}, #{title}, #{link}, #{content}, #{publishedDate}, #{seoulNewsGroup})
    </insert>

    <select id="selectSeoulNewsAll" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews order by publishedDate desc
    </select>

    <select id="selectNewsByTitle" parameterType="String" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews WHERE title = #{title}
    </select>

    <select id="selectSeoulNewsEnv" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews where seoulNewsGroup = 'env' order by publishedDate desc
    </select>

    <select id="selectSeoulNewsEco" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews where seoulNewsGroup = 'eco' order by publishedDate desc
    </select>

    <select id="selectSeoulNewsAir" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews where seoulNewsGroup = 'air' order by publishedDate desc
    </select>

    <select id="selectSeoulNewsGreen" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM seoulNews where seoulNewsGroup = 'green' order by publishedDate desc
    </select>

    <select id="selectSeoulNewsMini" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        select * from (SELECT * FROM seoulNews ORDER BY publishedDate DESC) where rownum &lt;=6
    </select>

    <select id="maxNum" resultType="int">
        SELECT NVL(MAX(seoulId), 0) FROM seoulNews
    </select>

    <select id="selectBySeoulId" parameterType="int" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        select * from seoulNews where seoulId = #{seoulId}
    </select>

    <!-- 이전글 가져오기 -->
    <select id="selectPreviousNews" parameterType="int" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM (
            SELECT *
            FROM seoulNews
            WHERE publishedDate &lt; (SELECT publishedDate FROM seoulNews WHERE seoulId = #{seoulId})
            ORDER BY publishedDate DESC, seoulId DESC
        ) WHERE ROWNUM = 1
    </select>

    <!-- 다음글 가져오기 -->
    <select id="selectNextNews" parameterType="int" resultType="com.zd.back.seoulcrawler.model.SeoulNews">
        SELECT * FROM (
            SELECT *
            FROM seoulNews
            WHERE publishedDate &gt; (SELECT publishedDate FROM seoulNews WHERE seoulId = #{seoulId})
            ORDER BY publishedDate ASC, seoulId ASC
        ) WHERE ROWNUM = 1
    </select>


</mapper>